<div class="modal__container modal__container--slider" data-graph-target="slider" aria-modal="true" role="dialog">
  <button class="btn-reset modal__close"></button>
  <div class="modal-content modal__content product product--modal">
    <div class="product__slider product__slider--modal flex">
      <div class="swiper product__swiper product__swiper--modal swiper-modal">
        <div class="swiper-wrapper product__wrapper">
          <div class="swiper-slide product__slide product__slide--modal">
            <img class="product__slide-img product__slide-img--modal" src="img/product/product-1.png" alt="Фото товара">
          </div>
          <div class="swiper-slide product__slide product__slide--modal">
            <img class="product__slide-img product__slide-img--modal" src="img/product/product-2-lg.png"
              alt="Фото товара">
          </div>
          <div class="swiper-slide product__slide product__slide--modal">
            <img class="product__slide-img product__slide-img--modal" src="img/product/product-3-lg.png"
              alt="Фото товара">
          </div>
          <div class="swiper-slide product__slide product__slide--modal">
            <img class="product__slide-img product__slide-img--modal" src="img/product/product-4-lg.png"
              alt="Фото товара">
          </div>
          <div class="swiper-slide product__slide product__slide--modal">
            <img class="product__slide-img product__slide-img--modal" src="img/product/product-5-lg.png"
              alt="Фото товара">
          </div>
        </div>
      </div>
      <div class="product__nav img-nav img-nav--modal">
        <button class="btn-reset img-nav__arrow img-nav__arrow--left btn-arrow btn-arrow--left" aria-label="Предыдущий">
          <svg class="btn-arrow__icon" width="7" height="12">
            <use xlink:href="/img/sprite.svg#arrow"></use>
          </svg>
        </button>
        <button class="btn-reset img-nav__arrow  img-nav__arrow--right btn-arrow btn-arrow--right"
          aria-label="Следующий">
          <svg class="btn-arrow__icon" width="7" height="12">
            <use xlink:href="/img/sprite.svg#arrow"></use>
          </svg>
        </button>
        <div class="swiper swiper-modal-nav">
          <div class="swiper-wrapper">
            <div class="img-nav__item img-nav__item--modal img-nav__item--hidden swiper-slide swiper-no-swiping"
              tabindex="0">
              <img class="img-nav__img img-nav__img--modal" src="img/product/product-1.png" alt="Фото товара">
            </div>
            <div class="img-nav__item img-nav__item--modal swiper-slide swiper-no-swiping" tabindex="0">
              <picture>
                <source srcset="img/product/slider/product-slider-2.png" media="(max-width: 640px)">
                <source srcset="img/tablet/product/product-2-lg.png" media="(max-width: 1255px)">
                <img class="img-nav__img img-nav__img--modal" src="img/product/slider/product-slider-2.png" alt="Фото товара">
              </picture>
            </div>
            <div class="img-nav__item img-nav__item--modal swiper-slide swiper-no-swiping" tabindex="0">
              <picture>
                <source srcset="img/product/slider/product-slider-3.png" media="(max-width: 640px)">
                <source srcset="img/tablet/product/product-3-lg.png" media="(max-width: 1255px)">
                <img class="img-nav__img img-nav__img--modal" src="img/product/slider/product-slider-3.png" alt="Фото товара">
              </picture>
            </div>
            <div class="img-nav__item img-nav__item--modal swiper-slide swiper-no-swiping" tabindex="0">
              <picture>
                <source srcset="img/product/slider/product-slider-4.png" media="(max-width: 640px)">
                <source srcset="img/tablet/product/product-4-lg.png" media="(max-width: 1255px)">
                <img class="img-nav__img img-nav__img--modal" src="img/product/slider/product-slider-4.png" alt="Фото товара">
              </picture>
            </div>
            <div class="img-nav__item img-nav__item--modal swiper-slide swiper-no-swiping" tabindex="0">
              <img class="img-nav__img img-nav__img--modal" src="img/product/slider/product-slider-5.png" alt="Фото товара">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
