<footer class="footer">
  <div class="footer__top">
    <div class="container footer__container grid">
      <div class="footer__left flex col-lg-4 col-md-2 col-sm-6">
        <a class="footer__logo logo" href="/" aria-label="На главную">
          <svg width="187" height="27">
            <use xlink:href="/img/sprite.svg#logo"></use>
          </svg>
        </a>
        <ul class="list-reset footer__social social flex">
          <li class="social__item">
            <a class="social__link" href="#" aria-label="Facebook">
              <svg width="30" height="30">
                <use xlink:href="/img/sprite.svg#fb"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#" aria-label="Вконтакте">
              <svg width="30" height="30">
                <use xlink:href="/img/sprite.svg#vk"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#" aria-label="Instagram">
              <svg width="30" height="30">
                <use xlink:href="/img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__right flex col-lg-8 col-md-7 col-sm-6 col-mb-6">
        <ul class="list-reset footer__links flex col-sm-3 col-mb-3">
          <li class="footer__item">
            <span class="footer__links-title">О&nbsp;нас</span>
          </li>
          <li class="footer__item">
            <a class="footer__link link-sm" href="#" aria-label="О компании">
              О&nbsp;компании
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link link-sm" href="#" aria-label="Блог">
              Блог
            </a>
          </li>
        </ul>
        <ul class="list-reset footer__links flex col-sm-3 col-mb-3">
          <li class="footer__item">
            <span class="footer__links-title">Услуги</span>
          </li>
          <li class="footer__item">
            <a class="footer__link link-sm" href="#" aria-label="Доставка">
              Доставка
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link link-sm" href="#" aria-label="Рассрочка и кредит">
              Рассрочка и&nbsp;кредит
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link link-sm" href="#" aria-label="Сборка и установка">
              Сборка и&nbsp;установка
            </a>
          </li>
        </ul>
        <ul class="list-reset footer__links flex col-sm-3 col-mb-3">
          <li class="footer__item">
            <span class="footer__links-title">Связь с&nbsp;нами</span>
          </li>
          <li class="footer__item">
            <a class="footer__link link-sm" href="#" aria-label="Обратная связь">
              Обратная связь
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link link-sm" href="contacts" aria-label="Контакты">
              Контакты
            </a>
          </li>
        </ul>
        <ul class="list-reset footer__links flex col-sm-3 col-mb-3">
          <li class="footer__item">
            <span class="footer__links-title">Сотрудничество</span>
          </li>
          <li class="footer__item">
            <a class="footer__link link-sm" href="collaboration" aria-label="Поставщикам">
              Поставщикам
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link link-sm" href="#" aria-label="Оптовикам">
              Оптовикам
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link link-sm" href="#" aria-label="Карьера">
              Карьера
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <span class="footer__bottom-text">SDP®&nbsp;&nbsp;&nbsp;2011-2021</span>
  </div>
</footer>
