<header class="header">
  <div class="grid header__grid">
    <div class="header__top-mobile header-top-mobile col-mb-6">
      <div class="header-top-mobile__container container">
        <a class="header-top-mobile__logo logo" href="/" aria-label="На главную">
          <svg width="187" height="27">
            <use xlink:href="/img/sprite.svg#logo"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="header__top header-top col-lg-12 col-md-9 col-sm-6 col-mb-6">
      <div class="header-top__container container grid">
        <div class="header-top__left flex col-lg-4 col-md-9 col-sm-6 col-mb-6">
          <div class="header-top__city flex">
            <span class="header-top__label">
              Ваш регион:
            </span>
            <select class="choices header-top__select" id="select" name="city">
              <option value="Москва" selected>Москва</option>
              <option value="Казань">Казань</option>
              <option value="Уфа">Уфа</option>
              <option value="Пермь">Пермь</option>
            </select>
          </div>
          <a class="tel header-top__tel" href="tel:+74958854547" aria-label="Позвонить">
            <svg width="18" height="18">
              <use xlink:href="/img/sprite.svg#tel"></use>
            </svg>
            +7 (495) 885-45-47
          </a>
        </div>
        <nav class="header-top__nav nav-top nav-top--desktop col-lg-8">
          <ul class="list-reset flex nav-top__list">
            <li class="nav-top__item">
              <a class="nav-top__link link-sm" href="#" aria-label="О компании">
                О&nbsp;компании
              </a>
            </li>
            <li class="nav-top__item">
              <a class="nav-top__link link-sm" href="#" aria-label="Гарантия и возврат">
                Гарантия и&nbsp;возврат
              </a>
            </li>
            <li class="nav-top__item">
              <a class="nav-top__link link-sm" href="#" aria-label="Корпоративным клиентам">
                Корпоративным клиентам
              </a>
            </li>
            <li class="nav-top__item">
              <a class="nav-top__link link-sm" href="#" aria-label="Дизайн-решение">
                Дизайн-решение
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="header__top-tab header-top-tab col-md-9 col-sm-6">
      <div class="container header-top-tab__container grid">
        <nav class="header-top-tab__nav nav-top col-md-7">
          <ul class="list-reset flex nav-top__list">
            <li class="nav-top__item">
              <a class="nav-top__link link-sm" href="#" aria-label="О компании">
                О&nbsp;компании
              </a>
            </li>
            <li class="nav-top__item">
              <a class="nav-top__link link-sm" href="#" aria-label="Гарантия и возврат">
                Гарантия и&nbsp;возврат
              </a>
            </li>
            <li class="nav-top__item">
              <a class="nav-top__link link-sm" href="#" aria-label="Корпоративным клиентам">
                Корпоративным клиентам
              </a>
            </li>
            <li class="nav-top__item">
              <a class="nav-top__link link-sm" href="#" aria-label="Дизайн-решение">
                Дизайн-решение
              </a>
            </li>
          </ul>
        </nav>
        <div class="header-top-tab__links user-links flex col-md-2">
          <a class="user-links__link user-links__cab" href="#" aria-label="Войти в личный кабинет">
            <svg width="26" height="28">
              <use xlink:href="/img/sprite.svg#cab"></use>
            </svg>
          </a>
          <a class="user-links__link user-links__cart" href="#" aria-label="Перейти в корзину">
            <svg width="30" height="28">
              <use xlink:href="/img/sprite.svg#cart"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="header__center header-center col-lg-12 col-md-9 col-sm-6 col-mb-6">
      <div class="header-center__container container grid">
        <a class="header-center__logo logo col-lg-3 col-md-2 col-sm-2" href="/" aria-label="На главную">
          <svg width="187" height="27">
            <use xlink:href="/img/sprite.svg#logo"></use>
          </svg>
        </a>
        <div class="header-center__links user-links flex col-sm-2 col-mb-3">
          <a class="user-links__link user-links__cab" href="#" aria-label="Войти в личный кабинет">
            <svg width="26" height="28">
              <use xlink:href="/img/sprite.svg#cab"></use>
            </svg>
          </a>
          <a class="user-links__link user-links__cart" href="#" aria-label="Перейти в корзину">
            <svg width="30" height="28">
              <use xlink:href="/img/sprite.svg#cart"></use>
            </svg>
          </a>
        </div>
        <nav class="header-center__nav nav col-lg-9 col-md-7 col-sm-2 col-mb-3">
          <button class="btn-reset nav__burger burger" id="burger" aria-label="Меню">
            <span class="burger__line"></span>
          </button>
          <div class="nav__wrap">
            <ul class="list-reset flex nav__list">
              <li class="nav__item">
                <a class="nav__link link-md" href="catalog" aria-label="Каталог">
                  Каталог
                </a>
              </li>
              <li class="nav__item">
                <a class="nav__link link-md" href="#" aria-label="Магазины">
                  Магазины
                </a>
              </li>
              <li class="nav__item">
                <a class="nav__link link-md" href="#" aria-label="Шоу-рум">
                  Шоу-рум
                </a>
              </li>
              <li class="nav__item">
                <a class="nav__link link-md" href="#" aria-label="Доставка и оплата">
                  Доставка и&nbsp;оплата
                </a>
              </li>
              <li class="nav__item">
                <a class="nav__link link-md" href="#" aria-label="Дисконт">
                  Дисконт
                </a>
              </li>
              <li class="nav__item">
                <a class="nav__link link-md" href="contacts" aria-label="Контакты">
                  Контакты
                </a>
              </li>
            </ul>
            <ul class="list-reset flex nav__list-bottom">
              <li class="nav__item-bottom col-sm-3 col-mb-3">
                <a class="nav__link-bottom link-sm" href="#" aria-label="О компании">
                  О&nbsp;компании
                </a>
              </li>
              <li class="nav__item-bottom col-sm-3 col-mb-3">
                <a class="nav__link-bottom link-sm" href="#" aria-label="Гарантия и возврат">
                  Гарантия и&nbsp;возврат
                </a>
              </li>
              <li class="nav__item-bottom col-sm-3 col-mb-3">
                <a class="nav__link-bottom link-sm" href="#" aria-label="Корпоративным клиентам">
                  Корпоративным клиентам
                </a>
              </li>
              <li class="nav__item-bottom col-sm-3 col-mb-3">
                <a class="nav__link-bottom link-sm" href="#" aria-label="Дизайн-решение">
                  Дизайн-решение
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="header__bottom header-bottom col-lg-12 col-md-9 col-sm-6 col-mb-6">
      <div class="header-bottom__container container grid">
        <div class="header-bottom__search search flex col-lg-10 col-md-9 col-sm-6 col-mb-6">
          <form class="search__form flex" action="#" autocomplete="off">
            <input class="search__input input" id="search-product" type="text" placeholder="Я хочу купить...">
            <svg class="search__icon" width="15.88" height="15.41">
              <use xlink:href="/img/sprite.svg#search"></use>
            </svg>
            <button class="btn-reset search__btn btn-arrow btn-arrow--right" aria-label="Найти">
              <svg class="btn-arrow__icon" width="7" height="12">
                <use xlink:href="/img/sprite.svg#arrow"></use>
              </svg>
            </button>
            <div id="product-list" class="search__products search-products flex">

            </div>
          </form>
          <div class="search__right">
            <button class="btn-reset search__select search-select" aria-label="Поиск по категории">
              Категория
            </button>
            <svg class="search__arrow" width="13" height="8">
              <use xlink:href="/img/sprite.svg#arrow-select"></use>
            </svg>
            <div class="search__category category">
              <ul class="list-reset category__list">
                <li class="category__item">
                  <a class="category__link link-md" href="#" aria-label="Диваны">Диваны</a>
                </li>
                <li class="category__item">
                  <a class="category__link link-md" href="#" aria-label="Кресла">Кресла</a>
                </li>
                <li class="category__item">
                  <a class="category__link link-md" href="#" aria-label="Пуфы">Пуфы</a>
                </li>
                <li class="category__item">
                  <a class="category__link link-md" href="#" aria-label="Кровати">Кровати</a>
                </li>
                <li class="category__item">
                  <a class="category__link link-md" href="#" aria-label="Тумбы">Тумбы</a>
                </li>
                <li class="category__item">
                  <a class="category__link link-md" href="#" aria-label="Комоды">Комоды</a>
                </li>
                <li class="category__item">
                  <a class="category__link link-md" href="#" aria-label="Стулья">Стулья</a>
                </li>
                <li class="category__item">
                  <a class="category__link link-md" href="#" aria-label="Столы">Столы</a>
                </li>
                <li class="category__item">
                  <a class="category__link link-md" href="#" aria-label="Аксессуары">Аксессуары</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="header-bottom__links user-links user-links--desktop flex col-lg-2">
          <a class="user-links__link user-links__cab" href="#" aria-label="Войти в личный кабинет">
            <svg width="26" height="28">
              <use xlink:href="/img/sprite.svg#cab"></use>
            </svg>
          </a>
          <a class="user-links__link user-links__cart" href="#" aria-label="Перейти в корзину">
            <svg width="30" height="28">
              <use xlink:href="/img/sprite.svg#cart"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
